
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }

  body {
    font-family: 'Helvetica Neue', sans-serif;
  }

html, body, #map {
    height: 100%;
    width: 100vw;
}
.full-screen-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

/*Para o mapa ocupar 100% da tela*/
.full-screen-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*Icone engrenagem sobreposto ao mapa*/
#myDropdown {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(100%, 0);
  z-index: 1000;
  transition: transform 0.5s ease;
}

.dropIcon {
  position: fixed;
  width: 58px;
  height: 56px;
}

.dropdown-menu-custom {
  background-image: url('../img/Elfos_de_Valinor-transformed.png');
  background-size: cover;
  transition: opacity 0.5s ease; /* Adicionado para animação suave */
  border: 0.3px solid #FC9B05;
}
.dropdown-menu-custom.fade {
  opacity: 0;
}

.dropdown-menu-custom.show {
  opacity: 1;
}

.dropdown.show .dropdown-menu {
  transform: translate(100%, calc(-100% - 10px));
}


.dropdown-menu-custom .dropdown-item.active,
.dropdown-menu-custom .dropdown-item:active {
  background-color: rgb(0, 0, 0);
  color: black;
}

.dropdown-menu-custom .dropdown-item.active:focus,
.dropdown-menu-custom .dropdown-item:active:focus {
  background-color: black;
  color: black;
  outline: none;
  box-shadow: none;
}




.custom-switch .form-check-input:checked {
  background-color: #FC9B05;
  border-color: #FC9B05;
}

.custom-switch .form-check-input:not(:checked) {
  background-color: #031f34;
  border-color: #031f34;
}

.custom-switch .form-check-label {
  color: white;
}


